# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
main
api-server

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.txt

# Dependency directories
vendor/

# Go workspace file
go.work

# Air tmp directory
tmp/

# Environment variables
.env*
!.env.example