@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('/fonts/AdobeGaramondPro-Regular.woff2') format('woff2'),
         url('/fonts/AdobeGaramondPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/HKGrotesk-Regular.woff2') format('woff2'),
         url('/fonts/HKGrotesk-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  