@font-face {
     font-family: 'Adobe Garamond Pro';
     src: url('/fonts/adobe-garamond-pro-2/AGaramondPro-Regular.woff2') format('woff2');
     font-weight: 400;
     font-style: normal;
}
  
@font-face {
     font-family: 'HK Grotesk';
     src: url('/fonts/hk-groteks/HKGrotesk-Regular.woff2') format('woff2');
     font-weight: 400;
     font-style: normal;
}
  